@import 'src/index';

.forum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.message {
  color: var(--color-accent);
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-height: 60vh;
  min-height: 60vh;
  background-color: var(--color-secondary);
  padding: 35px;
  border-radius: 20px;

  * {
    color: var(--color-text-on-dark);
    font-size: var(--font-xl);

    @include media-screen-large {
      font-size: var(--font-sm);
    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  padding-right: 15px;
  height: 30px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  padding-right: 15px;
  flex: 1;

  @include custom-scroll;
}

.list_item {
  width: 100%;
  min-width: fit-content;
  border: 2px solid;
}

.area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.svg_icons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.svg_icon {
  width: 25px;
  height: 25px;
  fill: var(--color-accent);
  cursor: pointer;
}

.link, .error {
  color: var(--color-accent);
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
