.start {
  display: flex;
  min-height: 100vh;
  background: var(--bg-gradient);
}

.start--content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 200px;
}

.start--content-timer {
  margin-bottom: 20px;
}
