.svg_icons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.svg_icon {
  width: 30px;
  height: 30px;
  fill: var(--color-accent);
  cursor: pointer;

  &:hover {
    fill: var(--color-text-on-dark);
  }
}

.svg_emoji {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-left: auto;
}
