.section {
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;

    &:focus {
        outline: none;
    }
}

:fullscreen {
    .section {
        align-items: center;
    }
}