.body {
  display: flex;
  justify-content: space-between;
}

.statBlock {
  width: 150px;
  font-size: var(--font-xl);
  color: var(--color-secondary);
  padding: 10px 0;

  &:last-child {
    text-align: end;
  }
}

.hitPoints {
  display: flex;
  justify-content: flex-start;

  &__image {
    width: 40px;
    height: 40px;
    margin: 0 5px;
  }
}
