@import '../../index';

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  position: relative;
}

:fullscreen {
  .wrapper {
    align-items: center;
    background: var(--bg-gradient);
    transform: scale(1.2);

    @include media-screen-large {
      transform: scale(1);
    }

    @include media-screen-medium {
      transform: scale(0.8);
    }
  }
}

.section {
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;

  &:focus {
    outline: none;
  }
}
