.btn {
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: var(--shadow);
  transition: all;
  transition-duration: 0.5s;
  cursor: pointer;

  &:hover {
    box-shadow: var(--shadow-lg);
  }

  &:active {
    box-shadow: var(--shadow-sm);
  }

  &-primary {
    background: var(--color-primary);
    color: var(--color-text-on-dark);
  }

  &-secondary {
    background: var(--color-secondary);
    color: var(--color-text-on-dark);
  }

  &-accent {
    background: var(--color-accent);
    color: var(--color-text-on-ligh);
  }
}
