.input--container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input {
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-shadow: var(--shadow);
}

.input--label {
  color: var(--color-text-on-dark);
  margin-bottom: 5px;
}
