* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: black;

  font-size: 100%;
  list-style: none;
  text-decoration: none;
}

html {
  --bg-gradient: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);

  --color-primary: #8d187d;
  --color-secondary: #175dac;
  --color-accent: #12b5ca;
  --color-text-on-light: #000;
  --color-text-on-dark: #fff;

  --font-xs: 10px;
  --font-sm: 14px;
  --font-base: 16px;
  --font-lg: 18px;
  --font-xl: 24px;
  --font-2xl: 40px;

  font-family: sans-serif;
}
