* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: black;

  font-size: 100%;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: 'Play';
  src: local('Play'), url("./fonts/Play/Play-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Play';
  font-weight: 900;
  src: local('Play'), url("./fonts/Play/Play-Bold.ttf") format('truetype');
}

html {
  --color-primary: #c850c0;
  --color-secondary: #4158d0;
  --color-accent: #ffcc70;
  --color-disabled: #8585a8;
  --color-text-on-light: #000;
  --color-text-on-dark: #fff;
  --color-text-error: #ffcc70;

  --color-gradient-start: var(--color-secondary);
  --color-gradient-middle: var(--color-primary);
  --color-gradient-end: var(--color-accentl);

  --bg-gradient: linear-gradient(43deg, var(--color-gradient-start) 0%, var(--color-gradient-middle) 46%, var(--color-gradient-end) 100%);

  --shadow-sm: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  --shadow-lg: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  --font-xs: 12px;
  --font-sm: 14px;
  --font-base: 16px;
  --font-lg: 18px;
  --font-xl: 24px;
  --font-2xl: 40px;
  --font-3xl: 60px;

  font-family: 'Play', sans-serif;
}

body {
  background: var(--bg-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@mixin media-screen-large() {
  @media (max-width: 1600px) {
    @content;
  }
}

@mixin media-screen-medium() {
  @media (max-width: 1200px) {
    @content;
  }
}