.category {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  border: 2px solid;
  padding: 10px;

  &:hover {
    color: var(--color-accent);
    background-color: var(--color-primary);
    transition: 0.2s;
  }
}
