@import 'src/index';

.category {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.link_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.link {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-between;
  border: 2px solid;
  padding: 10px;

  &:hover {
    color: var(--color-accent);
    background-color: var(--color-primary);
    transition: 0.2s;
  }
}

.add_forum_item {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 30px;

  @include media-screen-large {
    font-size: var(--font-sm);
  }
}

.form {
  flex: 1;
}

.name {
  word-break: break-word;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment {
  padding: 10px 10px 10px 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 450px;
}

.comment_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  & span {
    font-size: var(--font-sm);
  }
}

.comment_header_text {
  display: flex;
  flex-direction: column;
}

.comment_message {
  word-break: break-word;
}

.deleted_comment {
  font-style: italic;
  opacity: 0.5;
}

.load_comments {
  cursor: pointer;
  font-size: var(--font-base);
  width: fit-content;
  color: var(--color-accent);
}

.svg_icons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.svg_icon {
  width: 30px;
  height: 30px;
  fill: var(--color-accent);
  cursor: pointer;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.new_comment {
  padding-left: 50px;

  * {
    font-size: var(--font-sm);
  }
}

.add_forum_comment {
  * {
    color: var(--color-text-on-light);
  }
}

.inner_comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list_item {
  width: 100%;
  min-width: fit-content;
  border: 2px solid;
}

.form_error {
  color: var(--color-accent);
  padding-top: 10px;
}
