.leaderboard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  * {
    color: var(--color-text-on-dark);
  }

  .container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
  }
}
