.errorPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--bg-gradient);

  & h1 {
    font-size: var(--font-3xl);
    color: var(--color-text-on-dark);
  }

  & p,
  & .link {
    max-width: 600px;
    font-size: var(--font-xl);
    text-align: justify;

    color: var(--color-text-on-dark);
  }
}
