.error-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(63.13deg, #1010fc -0.45%, #bfbfff 98.94%);
}

.error-page h1 {
  font-size: 60px;
  color: white;
}

.link,
.error-page p {
  max-width: 600px;
  font-size: 30px;
  color: white;
  text-align: justify;
}

.link {
}
