@import '../../index';

.leaderboard_table {
  background: var(--color-secondary);
  border-radius: 15px;
  font-size: var(--font-xl);
  padding: 35px 25px;
  width: 75%;
  height: 60vh;
  position: relative;
}

.list_wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
}

.list {
  overflow: auto;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;

  @include custom-scroll;
}

.list_item_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 100%;
}

.list_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  &.accent {
    * {
      color: var(--color-accent);
    }
  }
}

.ordinal {
  min-width: 50px;
  text-align: center;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.score {
  margin-left: auto;
}

.user_name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
}
