@import '../../index';

.leaderboard_table {
  background: var(--color-secondary);
  border: 2px solid var(--color-text-on-dark);
  border-radius: 15px;
  font-size: var(--font-xl);
  padding: 15px;
  width: 75%;
}

.list {
  max-height: 60vh;
  min-height: 60vh;
  overflow: auto;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include custom-scroll;
}

.list_item_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 100%;
  width: fit-content;
}

.list_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.ordinal {
  min-width: 50px;
  text-align: center;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.score {
  margin-left: auto;
}
