.disclaimer {
  font-size: var(--font-sm) !important;
}

.link {
  margin: 0 20px;
  font-size: var(--font-xl);
  color: var(--color-text-on-dark);

  &:hover {
    color: var(--color-secondary);
    transition: 0.4s;
  }
}
