.timer {
  font-size: 150px;
  color: var(--color-text-on-dark);

  &_type_started {
    &::before {
      display: inline-block;
      content: '3';
      animation: count 4s steps(4, end) forwards, beat 1s 0.1s 4 linear;

      @keyframes count {
        0% {
          content: '3';
        }

        33% {
          content: '2';
        }

        66% {
          content: '1';
        }

        100% {
          content: 'Start';
        }
      }

      @keyframes beat {
        40%,
        80% {
          transform: none;
        }

        50% {
          transform: scale(1.25);
        }
      }
    }
  }
}
