.logout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  padding-top: 100px;
}

.logout_header {
  color: var(--color-text-on-dark);

  &:hover {
    color: var(--color-accent);
    transition: 0.4s;
  }
}

.svg_icon {
  stroke: var(--color-accent);
  width: 30px;
  height: 30px;
}